<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="20%">
<mat-card class="first-card">
    <mat-card-header class="header">
    <mat-card-title class="title">Silverstein</mat-card-title>
    <mat-card-subtitle>Band</mat-card-subtitle>
    </mat-card-header>
</mat-card>
</div>
<div fxFlex="20%">
<mat-card class="first-card">
    <mat-card-header class="header">
    <mat-card-title class="title">The Wonder Years</mat-card-title>
    <mat-card-subtitle>Band</mat-card-subtitle>
    </mat-card-header>
</mat-card>
    </div>
  <div fxFlex="20%">  
<mat-card class="first-card">
    <mat-card-header class="header">
    <mat-card-title class="title">Alexisonfire</mat-card-title>
    <mat-card-subtitle>Band</mat-card-subtitle>
    </mat-card-header>
</mat-card>
    </div>
    <div fxFlex="20%">
<mat-card class="first-card">
    <mat-card-header class="header">
    <mat-card-title class="title">Brand New</mat-card-title>
    <mat-card-subtitle>Band</mat-card-subtitle>
    </mat-card-header>
</mat-card>
    </div>
    <div fxFlex="20%">
<mat-card class="first-card">
    <mat-card-header class="header">
    <mat-card-title class="title">City and Colour</mat-card-title>
    <mat-card-subtitle>Band</mat-card-subtitle>
    </mat-card-header>
</mat-card>
    </div>